/* Inherited */



.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* IE6 */
* html .clearfix {
  height: 1%;
}
/* IE7 */
*:first-child + html .clearfix {
  min-height: 1%;
}

ul.links {
  margin: 0;
  padding: 0;
  font-size: 18px;
  list-style: none;
  float: left;
  padding: 0 1em 0 0;
  white-space: nowrap;
}

/* Common */

.caption-dense {
  font-family: Georgia, "Liberation Sans", "FreeSans", "Times New Roman", Times, serif;
  font-stretch: condensed;
  font-size: 18px;
}

/* Top */

.header-menu { /* Should utilize sticky positioning */
  position: fixed;
  /*margin-top: 3em;*/
}
.header-cover-interlayer { /* Should utilize sticky positioning */
  position: fixed;
  /*background: #fff;*/
  height: 500px; /* "header-cover height" - "stripe height" + "stripe margins" */
  width: 100%;
  top: 300px; /* "stripe height" + "stripe margins" */
  z-index: 7;
  /*margin-top: 3em;*/
}
.header-cover-aggregator .header-cover {
  width: 100%;
  height: 800px; /* Default */
}
.header-cover-aggregator { /* Should utilize sticky positioning */
  position: relative;
  z-index: 6;
  /*margin-top: 3em;*/
}
.header-cover { /* Should utilize sticky positioning */
  position: relative;
  z-index: 8;
  /*margin-top: 3em;*/
}
.stripe .overbox {
  width: 100%;
}
.stripe {
  margin-top: 7em;
  position: relative;
  z-index: 9;
  background: #fff;
}
.overbox {
  position: absolute;
  padding: 40px 40px 0 0;
  top: -2em;
}
.overbox-area {
  position: relative;
  display: block;
}
a.logotype div.main-menu {
  position: absolute;
  width: 100px;
  text-align: left;
}
a.logotype {
  top: 0;
  height: 60px; /* Default */
}
div.main-menu {
  top: 60px; /* Default */
}

/* Centre */

.sidebar-second {
  border: 1px solid gray;
  float: left;
  width: 200px;
  margin-left: 760px;
  margin-right: -960px; /* LTR */ /* Negative value of .region-sidebar-second's width + left margin. */
  padding: 0;
}








